@using Microsoft.AspNetCore.SignalR.Client;
@implements IDisposable
@inject IChatHubClient _chatHub
@inject IUserProfileClientService _profile

<AuthorizeView>
    <Authorized>
        <h4>Global Chat:</h4>
        <div class="row">
            <div class="col-10 col-md-6">
                <input type="text" id="message-input" class="form-control" maxlength="140"
                       placeholder="Enter message..." @bind-value=@_currentMessage
                       @onkeydown=@OnEnter @oninput=@OnInputChanged />
            </div>
            <div class="col-2 col-md-6">
                <button id="send-button" class="btn btn-primary" @onclick=SendClicked>
                    Send
                </button>
            </div>
        </div>
        <div class="overflow-auto chat-message-list">
            @foreach (var m in _messages)
            {
                <div>@m.ProfileName: @m.Message</div>
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <div>To get in on the action, you must: <LoginDisplay /></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    IList<ChatMessage> _messages = new List<ChatMessage>();
    string _currentMessage = string.Empty;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (await AuthenticationHelper.IsUserAuthenticated(AuthState) == false)
            return;

        await _chatHub.InitializeAsync();
        _chatHub.AddReceiveMessageHandler(OnReceivedMessage);
    }

    internal void OnReceivedMessage(ChatMessage message)
    {
        _messages.Insert(0, message);
        StateHasChanged();
    }

    internal void OnInputChanged(ChangeEventArgs e) =>
        _currentMessage = e.Value?.ToString() ?? string.Empty;

    internal async Task OnEnter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await SendClicked();
        }
    }

    internal async Task SendClicked()
    {
        if (AuthState == null) return;

        if (string.IsNullOrEmpty(_currentMessage) == false)
        {
            var currentProfile = await _profile.GetCurrentProfileAsync(AuthState);
            var message = new ChatMessage
            {
                ProfileId = currentProfile.Id,
                ProfileName = currentProfile.Name,
                Message = _currentMessage,
                UserId = currentProfile.UserId
            };

            await _chatHub.SendGlobalMessageAsync(message);

            _currentMessage = string.Empty;
        }
    }

    public void Dispose()
    {
        _chatHub.RemoveReceiveMessageHandler(OnReceivedMessage);
    }
}
