.header-top-bar {
    height: 3.5rem;
    background-color: rgb(1 20 56);
    margin-top: -18px;
    margin-left: -32px;
    margin-right: -24px;
}

.header-brand {
    font-size: 1.1rem;
    padding-top: 18px;
}
