@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;
@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]
@implements IDisposable

@inject NavigationManager Navigation
@inject IUserProfileClientService _profile;

<AuthorizeView>
    <Authorized>
        @GetDisplayUserName(context.User)
        <a class="float-end btn-light-outline mx-1" href=""
           title="Log out" @onclick="BeginLogout">
            <span class="oi oi-account-logout" aria-hidden="true"></span>
        </a>
        <a class="float-end btn-light-outline mx-1"
           href="/profiles/manage" title="Manage Profiles">
            <span class="oi oi-person" aria-hidden="true"></span>
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private UserProfile? _currentProfile;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override void OnInitialized()
    {
        _profile.OnCurrentProfileChanged += OnCurrentProfileChanged;
    }

    protected override async Task OnParametersSetAsync()
    {
        if (await AuthenticationHelper.IsUserAuthenticated(AuthState))
        {
            if (await _profile.HasCurrentProfileAsync(AuthState))
            {
                _currentProfile = await _profile.GetCurrentProfileAsync(AuthState);
                StateHasChanged();
            }
            else
            {
                Navigation.NavigateTo("/profiles/manage");
            }
        }
    }

    private void BeginLogout(MouseEventArgs args)
    {
        Navigation.NavigateToLogout("authentication/logout");
    }

    private string? GetDisplayUserName(ClaimsPrincipal user)
    {
        if (_currentProfile == null)
        {
            return user.FindFirst("given_name")?.Value ?? user.Identity?.Name;
        }

        return _currentProfile.Name;
    }

    private void OnCurrentProfileChanged(UserProfile? newProfile)
    {
        _currentProfile = newProfile;
        StateHasChanged();
    }

    public void Dispose()
    {
        _profile.OnCurrentProfileChanged -= OnCurrentProfileChanged;
    }
}
