@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims;
@attribute [System.Diagnostics.CodeAnalysis.ExcludeFromCodeCoverage]

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IUserProfileClientService _profile;

<AuthorizeView>
    <Authorized>
        @GetDisplayUserName(context.User)
        <a class="float-end" href="" @onclick="BeginLogout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private UserProfile? _currentProfile;

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (await AuthenticationHelper.IsUserAuthenticated(AuthState))
        {
            if (await _profile.HasCurrentProfileAsync(AuthState))
            {
                _currentProfile = await _profile.GetCurrentProfileAsync(AuthState);
                StateHasChanged();
            }
            else
            {
                Navigation.NavigateTo("/profiles/manage");
            }
        }
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private string? GetDisplayUserName(ClaimsPrincipal user)
    {
        if (_currentProfile == null)
        {
            return user.FindFirst("given_name")?.Value ?? user.Identity?.Name;
        }

        return _currentProfile.Name;
    }
}
