@page "/games/details/{metadataId}"

@attribute [Authorize]
@inject IUserProfileClientService _profile
@inject IArcadeMetadataService _metadata
@inject IGameSessionHubClient _sessionHub

<HeaderBar Title="@_title" />
<Loader IsVisible=@_isLoading />

<div class="banner-background mt-2 p-3" style=@BackgroundImageStyle>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-4 col-sm-12 my-2 text-center">
            <img class="text-center" height="180" 
                 src="@_gameMetadata?.Locations.LargeLogoUrl" />
        </div>
        <div class="col-lg-6 col-xl-4 col-sm-12 my-2 text-center">
            <div class="overflow-auto my-2">
                @if (_gameMetadata != null)
                {
                    @foreach (var tag in _gameMetadata.Tags)
                    {
                    <span class="badge badge-pill-outline">@tag</span>
                    }
                }
            </div>
            <div class="my-2">
                <span class="mx-2">
                    <span class="oi oi-person me-1" aria-hidden="true"></span>
                    <span>@_gameMetadata?.NumPlayers.ToString()</span>
                </span>
                <span class="mx-2">
                    <span class="oi oi-clock me-1" aria-hidden="true"></span>
                    <span>@_gameMetadata?.Duration.ToString() min</span>
                </span>
                <span class="mx-2">
                    <span>Difficulty: </span>
                    <span>@_gameMetadata?.Complexity / 10</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-4 col-sm-12 my-2">
            <img class="mx-2 float-start" src="@_gameMetadata?.Locations.IconUrl" />
            <div class="mx-2 fw-bold">About Game:</div>
            <div class="mx-2 overflow-auto" style="max-height: 200px;">
                @_gameMetadata?.Description
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 col-sm-12 my-2 text-center">
            <button class="btn btn-primary">Create Game Session</button>
        </div>
    </div>
</div>

@code {
    private bool _isLoading = true;
    private UserProfile? _currentProfile;
    private GameMetadata? _gameMetadata;
    private string _title => _gameMetadata?.Name ?? "Game Details";

    private string BackgroundImageStyle
    {
        get
        {
            var url = _gameMetadata?.Locations.BannerImageUrl ?? string.Empty;
            return $"background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url('{url}') center center / cover no-repeat;";
        }
    }

    [CascadingParameter]
    public Task<AuthenticationState>? AuthState { get; set; }

    [Parameter]
    public string MetadataId { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _currentProfile = await _profile.GetCurrentProfileAsync(AuthState);
            await _sessionHub.InitializeAsync(_currentProfile.Server);
        }
        finally
        {
            _isLoading = false;
            StateHasChanged();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        _gameMetadata = await _metadata.GetGameMetadataByIdAsync(MetadataId);
    }
}
