@page "/"

<PageTitle>Blazor Arcade</PageTitle>

<h1>Arcade!</h1>
Welcome to Blazor Arcade.
<hr />

<AuthorizeView>
    <Authorized>
        <ChatComponent />
    </Authorized>
    <NotAuthorized>
        <div>To get in on the action, you must: <LoginDisplay /></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    protected override void OnInitialized()
    {
    }
}