@inject IJSRuntime JS
@using D20Tek.Arcade.Web.Games.Components;

<div class="title fw-bold my-1">LEVEL: 1 - SCORE: 0</div>
<div class="row">
    <div class="col full-area">
        <div class="grid-container">
            @for (int row = 0; row < Rows; row++)
            {
                @for (int col = 0; col < Columns; col++)
                {
                    <div class="grid-cell" style="@GetCellStyle(row, col)"></div>
                }
            }
        </div>
        @if (_hasLevelText)
        {
        <div class="title fw-bold my-2">@_levelText</div>
        }
    </div>
    <div class="col">
        <ArrowButtonPanel DirectionClicked=HandleKeydown
                          style="justify-content: start; align-items: start;" />
    </div>
</div>
