@inject IJSRuntime JS
@using D20Tek.Arcade.Web.Games.Components;

<div class="row">
    <div class="col">
        <div class="title fw-bold my-1">LEVEL: 1 - SCORE: 0</div>
        <div class="full-area">
            <div class="grid-container">
                @for (int row = 0; row < Rows; row++)
                {
                    @for (int col = 0; col < Columns; col++)
                    {
                        <div class="grid-cell" style="@GetCellStyle(row, col)"></div>
                    }
                }
            </div>
            @if (_hasLevelText)
            {
            <div class="title fw-bold my-2">test - @_levelText</div>
            }
        </div>
    </div>
    <div class="col">
        <div>
            <div class="my-2">NEXT:</div>
            <div class="my-2"><img width="128" height="128" src=@_engine?.GetNextBlockImage() /></div>
        </div>
        <ArrowButtonPanel DirectionClicked=HandleKeydown
                          style="justify-content: start; align-items: start; margin-top: 120px" />
    </div>
</div>
