<div class="title fw-bold my-1">LEVEL: @_level - SCORE: @_score</div>
<div class="full-area">
    <div class="game-container">
        <!-- Background layer for parallax effect -->
        <div class="background"></div>
    </div>
</div>

@code {
    private int _score = 0;
    private int _level = 1;

    [Parameter]
    public EventCallback<int> GameEnded { get; set; }

}
