.button-panel {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.left {
    grid-column: 1;
    grid-row: 2;
    height: 50px;
}

.up {
    grid-column: 2;
    grid-row: 1;
    height: 50px;
}

.down {
    grid-column: 2;
    grid-row: 3;
    height: 50px;
}

.right {
    grid-column: 3;
    grid-row: 2;
    height: 50px;
}
