@page "/"

<PageTitle>Blazor Arcade</PageTitle>

<h3>Blazor Arcade!</h3>

<p>Welcome to the Blazor Arcade!</p>
<p>This site has full playable games written in Blazor WebAssembly frontend framework using .NET, C#, HTML, and CSS.</p>

<ul>
    <li><a href="/games/snake">Ssssnake!</a></li>
    <li><a href="/games/tetris">Tetris</a></li>
</ul>