@inject IJSRuntime JS

<div class="title fw-bold my-2">LEVEL: @_engine?.GetLevel() - SCORE: @_engine?.GetScore()</div>
<div class="full-area">
    <div class="grid-container">
        @for (int row = 0; row < Rows; row++)
        {
            @for (int col = 0; col < Columns; col++)
            {
                <div class="grid-cell" style="@GetCellStyle(row, col)"></div>
            }
        }
    </div>
</div>
@if (_hasLevelText)
{
<div class="title fw-bold my-2">@_levelText</div>
}

<style>
    /* Center the entire grid using Flexbox */
    .full-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Grid container */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        width: 450px;
        height: 450px;
        border: 2px solid #4f4867;
        background-color: #312c40;
    }

    /* Each cell */
    .grid-cell {
        width: 100%;
        height: 100%;
        border: 1px solid #4f4867;
    }
</style>
