@page "/games/snake"

<h3>Ssssnake!</h3>

@if (ShowCountDownText)
{
    <div class="title fw-bold my-1">@_countDownText</div>
}
<div class="full-area">
    <GameGrid Rows="15" Columns="15" />
</div>
@if (ShowGameOverText)
{
    <div class="title fw-bold my-2">@_gameOverText</div>
}

<style>
    .title {
        text-align: center;
        display: block;
    }
</style>
