@page "/games/snake"

<h3>Ssssnake!</h3>

@switch(_currentStage)
{
    case GameStages.Start:
        <GameStart GameMessage=_message GameStarted=OnGameStarted style="margin-top: 120px;" />
        break;
    case GameStages.Running:
        <GameGrid Rows="15" Columns="15" GameEnded=OnGameEnded />
        break;
    case GameStages.GameOver:
        <GameOver GameMessage=_message GameRestarted=OnGameStarted style="margin-top: 120px;" />
        break;
}
