@page "/games/snake"
@using D20Tek.Arcade.Web.Games.Components;

<h3>Ssssnake!</h3>

@if (_currentStage == Stages.Start)
{
    <GameStart Title="THE SNAKE GAME" GameStarted=OnGameStarted style="margin-top: 120px;" />
}

@if (_currentStage == Stages.Running)
{
    <GameGrid Rows="15" Columns="15" GameEnded=OnGameEnded />
}

@if (_currentStage == Stages.GameOver)
{
    <div class="title fw-bold my-2">Game Over</div>
}
